@charset "UTF-8";
/* CSS Document */
body, html {
   height: 100%;
	
		
}
	.h2{
			font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
			font-size: 18px;
			background color: rgba(255,255,255,0.19);
			text-overflow: clip;
			
		}
.bg { 
	
	
    /* The image used */
	
    background-image: url(images/Treebackground2.png);
	
    /* Full height */
    height: 100%; 
	width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}
		#heading {
			font-family: "bilbo-swash-caps", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
			font-size: 40px;
			background-color: rgba(232,232,232,0.40);
		
		}
		
		.body {
			font: normal
			font-family:  "bilbo-swash-caps";
		}
		
	
		.container{
		background-color: rgba(255,230,175,0.19);
		}
		
		#logo {
			rgba(0,0,0,.10);
			border-color: white;
			border-radius: 5px;
			
			
		}
		#logo:hover {
    		height:150%;
    		width: 150%;
		}
		
		
		.btn-success{
			background-color: rgba(9,68,232,1.00);
			border-radius: 0px;
		}

		.btn-success:hover{
		background-color: grey;
		}
		.btn-danger{
			background-color: rgba(255,44,45,0.74);
		}
		
		#heading {
			font-family: "bilbo-swash-caps", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
			font-size: 18px;
			background-color: rgba(232,232,232,0.40);
		}

		#navbar{
			font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
			background-color: rgb(38,98,119);
			text-emphasis-style: sesame;
			color: white;
		}
		


		
		.body {
			font: normal
			font-family:  "bilbo-swash-caps";
		}
		
	
		.container{
		background-color: rgba(255,230,175,0.19);
		}

		
		#logo {
			rgba(0,0,0,.10);
			border-color: white;
			border-radius: 5px;
			
			
		}
		#logo:hover {
    		height:150%;
    		width: 150%;
		}
		
.facebook{
			position: fixed;
			float: right;
			
			
		}
		
		#body-about {
			margin-top: 40px;
			margin-bottom: 40px;
			font-size: 16px;
			font-family:  "bilbo-swash-caps";
			
		}
		#body-about-box {
			font-size: 16px;
			font-family:  "bilbo-swash-caps";
			background-color: rgba(0,0,0,0.47)
			
		}

#frontPageText{
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 18px;
	
}
	
		
